.background{
    background-image:url('images/simple-geometric-dark-background-with-small-element-free-vector.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.nav-bar{
    background-color: bisque;
    position: fixed;

}
.profile-image{
    width:170px;
    height:170px;
    border-radius:300px;
    border-width:0px;
    
}
.card{
     background-color: white;
    border-radius:20px;
    bprder-width:4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding:20px;
}
.card h1{
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.card p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-color:white;
    font-weight: bold;
    font-size: 18px;
}